#incomeChart {
    width: 410px !important;
    height: 410px !important;
}
#outcomeChart {
    width: 400px !important;
    height: 400px !important;
}
.pies {
    margin-top: 140px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    column-gap: 133px;
}
.filters {
    display: flex;
    column-gap: 20px;
}
.vertical-line {
    border-right: 1px solid #D9D9D9;
    height: 450px;
}