
<section class="income_category">
    <div class="title"><h1>Создание дохода/расхода</h1></div>

    <select class="form-select" aria-label="Default select example">
        <option selected>Тип</option>
        <option value="1">Доход</option>
        <option value="2">Расход</option>
    </select>
    <select class="form-select" aria-label="Default select example">
        <option selected>Категория</option>
        <option value="1"></option>
        <option value="2"></option>
    </select>
    <div class="input-group mb-3">
        <input type="number" class="form-control" aria-describedby="basic-addon1" placeholder="Сумма в $...">
    </div>
    <div class="input-group mb-3">
        <input type="text" onfocus="(this.type='date')" class="form-control" aria-describedby="basic-addon1" placeholder="Дата...">
    </div>
    <div class="input-group mb-3">
        <input type="text" class="form-control" aria-describedby="basic-addon1" placeholder="Комментарий...">
    </div>
    <div class="buttons-creation">
        <button type="button" class="btn btn-success">Создать</button>
        <button type="button" class="btn btn-danger">Отмена</button>
    </div>

</section>
