
<section class="income_category">
    <h1>Доходы</h1>
    <div class="row row-cols-3 gy-4 g-4">
        <div class="col-plus">
            <div class="card plus">
                <div class="card-body">
                    <a id="category-add"><img src="../images/plus.svg" alt=""></a>
                </div>
            </div>
        </div>
    </div>
    <div class="popap">
        <div class="popap-info">
            <p>Вы действительно хотите удалить категорию? Связанные доходы будут удалены навсегда.</p>
            <div class="buttons">
                <button type="button" class="btn btn-delete-confirm btn-success">Да,удалить</button>
                <button type="button" class="btn btn-danger">Не удалять</button>
            </div>
        </div>
    </div>
</section>
